<?xml version='1.0' encoding='utf-8'?>
<widget id="guestrevu.kiosk.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>GuestRevu Kiosk</name>

    <description>
      Listen, Learn and Earn.
    </description>

    <author href="https://www.guestrevu.com" email="dagan@guestrevu.com">
      Dagan Read
    </author>
    
    <content src="index.html" />
    
    <preference name="phonegap-version" value="cli-10.0.0" />
    <!--<preference name="Fullscreen" value="true" /-->
    <platform name="android" >
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="26" />
        <preference name="orientation" value="portrait" />
    </platform> 
    
    <!--  <platform name="ios" />  -->

    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
